@{
    ViewData["Title"] = "Check";
}

<div style="background-image: url(icons/balance_page_bg.png);padding:30px;">

    <br><br><br><br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="padding: 40px;background-color: #ffffffe3;border: solid 1px black;text-align: center;">

            <h1>Check</h1>

            <hr>

            <h3>
                Total sum:
                <b style="color: #55BC75;">23$</b>
            </h3>

            <br>

            <i>
                Get a free tranfer or full refund of unused balance anytime
            </i>

            <br><br>

            <form>
                <div class="form-group">
                    <select class="form-control" name="card">
                        <option value="1">PERSONAL 8856 **** **** ****</option>
                        <option value="2">BUSINESS 2586 **** **** ****</option>
                        <option value="3">SAVINGS 1116 **** **** ****</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" value="Confirm" style="background-color: #f7a825; font-size:20px; border:none;padding: 10px 30px;">
            </form>

            <br>

            <a href="#">Back</a>
        </div>
        <div class="col-sm-4"></div>
    </div>

    <br><br><br><br>

</div>


