
@{
    ViewData["Title"] = "Login";
}

    <div style="background-image: url(icons/balance_page_bg.png);padding:30px;">

        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6" style="padding: 40px;background-color: #ffffffe3;border: solid 1px black;">

                <h1>Log in</h1>
                <hr>
                <a href="#" class="btn btn-primary">Log in with Google</a>
                or
                <a href="#" class="btn btn-primary" style="background-color: #2f5277;border: none;">Log in with Facebook</a>
                or :
                <hr>

                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col" style="text-align: right;">
                            Don't have an account?
                            <a href="#" class="btn btn-success">Join PhotOn today!</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <br>
        <br>
        <br>
        <br>

    </div>