<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- common header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="~/icons/logo.png" style="height: 80px;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            @*left*@
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" style="font-size: 20px;">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Publications" asp-action="NewPublication" style="font-size: 20px;">Post place</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Publications" asp-action="Index" style="font-size: 20px;">Find place</a>
                    </li>
                }
            </ul>
            @*right*@
        <ul class="navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="User" asp-action="ReplenishBalance" style="font-size: 20px;">Balance</a>
                </li>
                <li class="nav-item">
                    @*dropdown*@
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="        margin-top: 7px;border: none;background-color: #9acd3200;">
                            <img src="~/icons/profile.svg" style=" height: 30px;" />
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="right:0;left:unset;">
                            <button class="dropdown-item" type="button">@User.Identity.Name</button>
                            <a class="dropdown-item" href="#">Go to my page</a>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Account" asp-action="SignIn" style="font-size: 20px;">
                        Get started!
                    </a>
                </li>
            }
        </ul>
        </div>
    </nav>

    @RenderBody()

    <!-- common footer -->
        <div class="container" style="position: absolute;  bottom: 0; max-width: 100%;">
            <div class="row" style="padding: 10px 80px;">
                <div class="col-sm-1"></div>

                <!-- text -->
                <div class="col-sm-3">
                    <img src="icons/logo.png" style="height: 110px;">
                </div>
                <!-- button -->
                <div class="col-sm-7">
                    <ul style="list-style-type: none; margin: 0; padding: 10px 0 0 0;">
                        <li style="display: inline-block;width: 30%;text-align: center;">
                            <a asp-controller="Home" asp-action="Index" style="font-size: 20px;">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li style="display: inline-block;width: 30%;text-align: center;">
                                <a href="#" style="font-size: 20px;">Post place </a>
                            </li>
                            <li style="display: inline-block;width: 30%;text-align: center;">
                                <a asp-controller="Publications" asp-action="Index" style="font-size: 20px;">Find place </a>
                            </li>
                        }
                    </ul>
                    <hr>
                    <ul style="list-style-type: none; margin: 0; padding: 5px 0 0 0;">
                        <li style="display: inline-block;width: 100%;text-align: center;">
                            <span style="font-size: 15px;">© 2020 Copyright</span>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-1"></div>
            </div>
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>